<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark navbar-static-top bg-dark">

  <div class="container-lg">

    <!-- Navbar brand -->
    <div class="navbar-brand">컴퓨터공학선도</div>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Links -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarAbout">
            <li><a class="dropdown-item" href="/about">소개</a></li>
            <li><a class="dropdown-item" href="/gallery">갤러리</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">Apply</a></li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarBoard" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Board
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarBoard">
            <li><a class="dropdown-item" href="/posts/notice">공지사항</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/posts/general">자유게시판</a></li>
            <li><a class="dropdown-item" href="/posts/qna">QnA</a></li>
          </ul>
        </li>
      </ul>

      <!-- Login from -->
      <ul class="navbar-nav">
        <% if(isAuthenticated){ %>
          <li class="nav-item"><a href="/users/<%= currentUser.username %>" class="nav-link">My Account</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
      <% } else { %>
        <li class="nav-item"><a href="/users/new" class="nav-link">Sign Up</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <% } %>
      </ul>
    </div>
    <!-- Collapsible content -->
  </div>
</nav>
<!--/.Navbar-->
