<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-3">

      <h2 class="mb-3">About</h2>

      <P>컴퓨터공학선도 동아리 웹사이트 프로젝트</p>

    </div>
    <%- include('../partials/foot') %>
  </body>
</html>
