<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  
  <!-- baguetteBox -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" async></script>

  <!-- Gallery Grid -->
  <link rel="stylesheet" href="/css/gallery.css">

</head>
<body>
  <%- include('../partials/nav') %>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">갤러리</h1>
        <p class="lead text-muted">가온고등학교 컴퓨터공학선도의 여러가지 활동 사진을 담은 갤러러입니다. 컴퓨터공학선도에서는 학생들의 실력증진을 위한 많은 활동을 하고 있습니다.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container photo-grid gaon-gallery">
      <div class="card shadow-sm card-tall card-wide">
        <a href="/images/bridge.jpg">
          <img src="/images/bridge.jpg">
        </a>
      </div>
      <div class="card shadow-sm card-tall">
        <a href="/images/benches.jpg">
          <img src="/images/benches.jpg">
        </a>
      </div>
      <div class="card shadow-sm">
        <a href="/images/coast.jpg">
          <img src="/images/coast.jpg">
        </a>
      </div>
      <div class="card shadow-sm">
        <a href="/images/park.jpg">
          <img src="/images/park.jpg">
        </a>
      </div>
      <div class="card shadow-sm">
        <a href="/images/rails.jpg">
          <img src="/images/rails.jpg">
        </a>
      </div>
      <div class="card shadow-sm card-tall">
        <a href="/images/rocks.jpg">
          <img src="/images/rocks.jpg">
        </a>
      </div>
      <div class="card shadow-sm card-wide">
        <a href="/images/sky.jpg">
          <img src="/images/sky.jpg">
        </a>
      </div>
      <div class="card shadow-sm">
        <a href="/images/traffic.jpg">
          <img src="/images/traffic.jpg">
        </a>
      </div>
      <div class="card shadow-sm">
        <a href="/images/tunnel.jpg">
          <img src="/images/tunnel.jpg">
        </a>
      </div>
    </div>
  </div>
<%- include('../partials/foot') %>
  <script>
  window.addEventListener('load', function() {
    baguetteBox.run('.gaon-gallery');
  });
  </script>

</body>
</html>
