<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav') %>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">갤러리</h1>
        <p class="lead text-muted">가온고등학교 컴퓨터공학선도의 여러가지 활동 사진을 담은 갤러러입니다. 컴퓨터공학선도에서는 학생들의 실력증진을 위한 많은 활동을 하고 있습니다.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="gaon-gallery">
          <div class="col">
            <div class="card shadow-sm">
              <a href="/images/bridge.jpg" class="gallery-img" data-caption="다리">
                <img src="/images/bridge.jpg" alt="Bridge">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="/images/benches.jpg" class="gallery-img" data-caption="벤치">
                <img src="/images/benches.jpg" alt="Benches">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="/images/coast.jpg" class="gallery-img" data-caption="해안">
                <img src="/images/coast.jpg" alt="Coast">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="/images/park.jpg" class="gallery-img" data-caption="공원">
                <img src="/images/park.jpg" alt="Park">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="/images/rails.jpg" class="gallery-img" data-caption="철도">
                <img src="/images/rails.jpg" alt="Rails">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="/images/rocks.jpg" class="gallery-img" data-caption="바위">
                <img src="/images/rocks.jpg" alt="Rocks">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="/images/sky.jpg" class="gallery-img" data-caption="하늘">
                <img src="/images/sky.jpg" alt="Sky">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="/images/traffic.jpg" class="gallery-img" data-caption="교통">
                <img src="/images/traffic.jpg" alt="Traffic">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a href="/images/tunnel.jpg" class="gallery-img" data-caption="터널">
                <img src="/images/tunnel.jpg" alt="Tunnel">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  window.addEventListener('load', function() {
    baguetteBox.run('.gaon-gallery');
  });
  </script>
  <%- include('../partials/foot') %>
</body>
</html>
