<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>컴퓨터공학선도</h1>
        <P>^.^</p>
      </div>

    </div>
  </body>
</html>
