<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav') %>
  <div class="intro-body">
    <img src="https://picsum.photos/2000" class="d-block w-100" alt="idk">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1 class="brand-heading">게시판</h1>
          <p class="intro-text">A free, responsive, one page Bootstrap theme.<br />Created with love.</p>
          <div role="group" class="btn-group"><button class="btn btn-primary" type="button" style="width: 106px;">공지사항</button></div><button class="btn btn-primary" type="button" style="margin: 0px;margin-right: 30px;margin-left: 30px;">자유게시판</button><button class="btn btn-primary" type="button">질문게시판</button>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/foot') %>
</body>
</html>
